In [ ]:
!pip install pony

In [1]:
#!pip install orm
#!pip install pony
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('tweets.sqlite')

In [ ]:
cur = conn.cursor()
sql = ("SELECT * FROM reacao where sentimento = -1 order by sentimento")
df = pd.read_sql_query(sql, conn) 
pd.set_option('max_colwidth',150)
df

In [3]:
cur = conn.cursor()
cur.execute("update reacao set sentimento=0").fetchone()
conn.commit()

In [17]:
cur = conn.cursor()
cur.execute("SELECT * FROM tweet where tweet_id not in (0,1) and text like '% maximo %' and sentiment=1")
#ur.execute("SELECT * FROM tweet where id = 130991")
inpSentence = cur.fetchall()

for row in inpSentence:
    print(row)

(1076, '858844943779016704', 'sem ser de signo :) — ser virgem eh o maximo ! https://t.co/Z86yq6gxqj', 1)
(11060, '859707476517826560', 'Parabeeeeeens @PedroGoMusic :-) espero que tenhas um dia maravilhoso e que te divirtas ao maximo :) adoro-te &lt;3', 1)
(12877, '859810845378973698', '@trixieairoldi Iupiiiiiii. Amamos/Somos Librianos com muito orgulho. rsrsrsrsrsrs\nVai ser menino? Que maximo ser Libriano :)', 1)
(21845, '860520820241772545', '@beingasaloser o maximo que "consigo" é ter uma barba media e um cabelo à vagabundo sem levar na tromba e tenho 24 anos :)', 1)

In [ ]:
cur.execute("insert into tweet (tweet_id, text, sentiment) values ('0', 'seu voluntariado não é inutil', '1')").fetchone()
conn.commit()